:root {
    --color-background: #E1ECFF;
    --color-text-dark: #144261;
    --color-primary: #0f68a3;
    --color-primary-light: #0f68a3;
    --color-text: #FFFFFF;
    --color-danger: #850A09;
    --color-border: #383c3d;
    
}
html{
    font-size: 16px;
}


body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    background: var(--color-background);
}
